@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

/*style for the weather dashboard header*/
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    color: white;
    background-color: black;
    height: 62px;
    margin: -10px -10px 0px -10px;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    height: 30px;
    width: 30px;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
}

input {
    padding: 5px;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

/*style to column the sections*/
.column1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prev {
    display: none;
    align-items: center;
    gap: 10px;
    border-bottom: 3px solid black;
    padding: 5px;
    margin-bottom: -5px;
}

.clearButton {
    padding: 3px 5px 3px 5px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: rgb(36 181 230);
}

.clearButton:hover {
    cursor: pointer;
    background-color: rgb(138, 199, 220);
}
/*style for search button and hover*/
#searchButton {
    padding: 5px;
    color: white;
    border: none;
    border-radius: 0px 5px 5px 0px;
    background-color: rgb(36 181 230);
}

#searchButton:hover {
    cursor: pointer;
    background-color: rgb(138, 199, 220);
}

/*style for the previous search buttons and hover*/
#previousSearch{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-right: 40px;
    gap: 10px;
    list-style: none;
}

#previousSearch li:hover{
    cursor: pointer;
}

#previousSearch li{
    background-color: rgb(219, 219, 219);
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    text-transform: capitalize;
}

.landingImg {
    height: 400px;
    width: 800px;
}

/*style for todays weather section*/
.today {
    font-family: cinzel;
    border: 2px solid black;
    background-color: grey;
    filter: brightness(1.6);
}

.todaysWeatherDirection {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

h2{
    text-transform: capitalize;
}

h3 {
    margin-left: 10px;
}
/*style for the five day forecast section*/
#fiveDayForecast {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

h4 {
    font-size: 20px;
    margin: 5px 0px 0px 10px;
}

.details {
    list-style: none;
    margin: 0px 10px 10px 10px;
    padding: 0px;
}

.fiveDay {
    font-family: cinzel;
    background-color: grey;
    border: 2px solid black;
    color: white;
}

@media screen and (max-width: 1000px) {

    .fiveDay {

        font-size: 13px;
    }

    h4 {
        font-size: 15px;
        margin: 3px;
    }

    img {
        height: 60px;
    }

}

@media screen and (max-width: 730px) {

    header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 0px;
        height: 120px;
    }

    .landingImg {
        height: 200px;
        width: 400px;
    }

}

@media screen and (max-width: 501px) {

    .rows {
        display: flex;
        flex-direction: column;
    }

    #fiveDayForecast {
        gap: 10px;
    }

    .fiveDay {
        font-size: 6px;
    }

    h4 {
        font-size: 10px;
        margin-left: 5px;
    }

    img {
        height: 50px;
    }

}